/.venv
/app/__pycache__
/app/routers/__pycache__
/app/schemas/__pycache__

/model/__pycache__
/model/data/spam_Emails_data.csv
/model/data/spamassassin_utf8.csv
/model/funciones_auxiliares/__pycache__